# Venture Funding with Deep Learning

You work as a risk management associate at Alphabet Soup, a venture capital firm. Alphabet Soup’s business team receives many funding applications from startups every day. This team has asked you to help them create a model that predicts whether applicants will be successful if funded by Alphabet Soup.

The business team has given you a CSV containing more than 34,000 organizations that have received funding from Alphabet Soup over the years. With your knowledge of machine learning and neural networks, you decide to use the features in the provided dataset to create a binary classifier model that will predict whether an applicant will become a successful business. The CSV file contains a variety of information about these businesses, including whether or not they ultimately became successful.

## Instructions:

The steps for this challenge are broken out into the following sections:

* Prepare the data for use on a neural network model.

* Compile and evaluate a binary classification model using a neural network.

* Optimize the neural network model.

### Prepare the Data for Use on a Neural Network Model 

Using your knowledge of Pandas and scikit-learn’s `StandardScaler()`, preprocess the dataset so that you can use it to compile and evaluate the neural network model later.

Open the starter code file, and complete the following data preparation steps:

1. Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.   

2. Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.
 
3. Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

4. Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course. 

5. Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset. 

6. Split the features and target sets into training and testing datasets.

7. Use scikit-learn's `StandardScaler` to scale the features data.

### Compile and Evaluate a Binary Classification Model Using a Neural Network

Use your knowledge of TensorFlow to design a binary classification deep neural network model. This model should use the dataset’s features to predict whether an Alphabet Soup&ndash;funded startup will be successful based on the features in the dataset. Consider the number of inputs before determining the number of layers that your model will contain or the number of neurons on each layer. Then, compile and fit your model. Finally, evaluate your binary classification model to calculate the model’s loss and accuracy. 
 
To do so, complete the following steps:

1. Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

2. Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

> **Hint** When fitting the model, start with a small number of epochs, such as 20, 50, or 100.

3. Evaluate the model using the test data to determine the model’s loss and accuracy.

4. Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`. 

### Optimize the Neural Network Model

Using your knowledge of TensorFlow and Keras, optimize your model to improve the model's accuracy. Even if you do not successfully achieve a better accuracy, you'll need to demonstrate at least two attempts to optimize the model. You can include these attempts in your existing notebook. Or, you can make copies of the starter notebook in the same folder, rename them, and code each model optimization in a new notebook. 

> **Note** You will not lose points if your model does not achieve a high accuracy, as long as you make at least two attempts to optimize the model.

To do so, complete the following steps:

1. Define at least three new deep neural network models (the original plus 2 optimization attempts). With each, try to improve on your first model’s predictive accuracy.

> **Rewind** Recall that perfect accuracy has a value of 1, so accuracy improves as its value moves closer to 1. To optimize your model for a predictive accuracy as close to 1 as possible, you can use any or all of the following techniques:
>
> * Adjust the input data by dropping different features columns to ensure that no variables or outliers confuse the model.
>
> * Add more neurons (nodes) to a hidden layer.
>
> * Add more hidden layers.
>
> * Use different activation functions for the hidden layers.
>
> * Add to or reduce the number of epochs in the training regimen.

2. After finishing your models, display the accuracy scores achieved by each model, and compare the results.

3. Save each of your models as an HDF5 file.

In [1]:
# Imports
import pandas as pd
from pathlib import Path
import tensorflow as tf
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder

---

## Prepare the data to be used on a neural network model

### Step 1: Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.

In [2]:
# Read the applicants_data.csv file from the Resources folder into a Pandas DataFrame
applicant_data_df = pd.read_csv('./Resources/applicants_data.csv')

# Review the DataFrame
applicant_data_df.head(10)

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
5,10556855,MINORITY ORGAN & TISSUE TRANSPLANT & EDUCATION...,T3,Independent,C1200,Preservation,Trust,1,0,N,5000,1
6,10558440,FRIENDS OF ARTS COUNCIL OF GREATER DENHAM SPRI...,T3,Independent,C1000,Preservation,Trust,1,100000-499999,N,31452,1
7,10566033,ISRAEL EMERGENCY ALLIANCE,T3,Independent,C2000,Preservation,Trust,1,10M-50M,N,7508025,1
8,10570430,ARAMCO BRATS INC,T7,Independent,C1000,ProductDev,Trust,1,1-9999,N,94389,1
9,10571689,INTERNATIONAL ASSOCIATION OF FIRE FIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0

In [3]:
# Review the data types associated with the columns
applicant_data_df.dtypes

EIN                        int64
NAME                      object
APPLICATION_TYPE          object
AFFILIATION               object
CLASSIFICATION            object
USE_CASE                  object
ORGANIZATION              object
STATUS                     int64
INCOME_AMT                object
SPECIAL_CONSIDERATIONS    object
ASK_AMT                    int64
IS_SUCCESSFUL              int64
dtype: object

### Step 2: Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.

In [4]:
# Drop the 'EIN' and 'NAME' columns from the DataFrame
applicant_data_df = applicant_data_df.drop(['EIN', 'NAME', 'AFFILIATION', 'CLASSIFICATION'], axis=1)

# Review the DataFrame
applicant_data_df.head()

,APPLICATION_TYPE,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,ProductDev,Association,1,0,N,5000,1
1,T3,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,ProductDev,Association,1,0,N,5000,0
3,T3,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Heathcare,Trust,1,100000-499999,N,142590,1

### Step 3: Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

In [5]:
# Create a list of categorical variables 
categorical_variables = ['APPLICATION_TYPE', 'USE_CASE', 'ORGANIZATION', 'INCOME_AMT', 'SPECIAL_CONSIDERATIONS']

# Display the categorical variables list
categorical_variables

['APPLICATION_TYPE',
 'USE_CASE',
 'ORGANIZATION',
 'INCOME_AMT',
 'SPECIAL_CONSIDERATIONS']

In [6]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

In [7]:
# Encode the categorcal variables using OneHotEncoder
encoded_data = enc.fit_transform(applicant_data_df[categorical_variables])

In [8]:
# Create a DataFrame with the encoded variables
encoded_df = pd.DataFrame(
    encoded_data,
    columns = enc.get_feature_names_out(categorical_variables)
)

# Review the DataFrame
encoded_df.head()

,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T25,APPLICATION_TYPE_T29,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

### Step 4: Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course.

In [9]:
# Add the numerical variables from the original DataFrame to the one-hot encoding DataFrame
encoded_df = pd.concat(
    [
        applicant_data_df.drop(columns=categorical_variables),
        encoded_df
    ], 
    axis=1
)

# Review the Dataframe
encoded_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

### Step 5: Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset.

In [10]:
# Define the target set y using the IS_SUCCESSFUL column
y = encoded_df['IS_SUCCESSFUL']

# Display a sample of y
y[:5]

0    1
1    1
2    0
3    1
4    1
Name: IS_SUCCESSFUL, dtype: int64

In [11]:
# Define features set X by selecting all columns but IS_SUCCESSFUL
X = encoded_df.drop(columns='IS_SUCCESSFUL')

# Review the features DataFrame
X[:5]

,STATUS,ASK_AMT,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

### Step 6: Split the features and target sets into training and testing datasets.

In [12]:
# Split the preprocessed data into a training and testing dataset
# Assign the function a random_state equal to 1
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=0)

### Step 7: Use scikit-learn's `StandardScaler` to scale the features data.

In [13]:
# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the scaler to the features training dataset
X_scaler = scaler.fit(X_train)

# Fit the scaler to the features training dataset
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

---

## Compile and Evaluate a Binary Classification Model Using a Neural Network

### Step 1: Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

In [14]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

39

In [15]:
# Define the number of neurons in the output layer
number_output_neurons = 2

In [16]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1 =  (number_input_features + number_output_neurons) // 2

# Review the number hidden nodes in the first layer
hidden_nodes_layer1

20

In [17]:
# Define the number of hidden nodes for the second hidden layer
hidden_nodes_layer2 =  (hidden_nodes_layer1 + number_output_neurons) // 2

# Review the number hidden nodes in the second layer
hidden_nodes_layer2

11

In [18]:
# Create the Sequential model instance
nn = Sequential()

In [19]:
# Add the first hidden layer
nn.add(Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation='relu'))

In [20]:
# Add the second hidden layer
nn.add(Dense(units=hidden_nodes_layer2, activation='relu'))

In [21]:
# Add the output layer to the model specifying the number of output neurons and activation function
nn.add(Dense(units=number_output_neurons, activation='relu'))

In [22]:
# Display the Sequential model summary
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 20)                800

 dense_1 (Dense)             (None, 11)                231

 dense_2 (Dense)             (None, 2)                 24

=================================================================
Total params: 1,055
Trainable params: 1,055
Non-trainable params: 0
_________________________________________________________________

### Step 2: Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

In [23]:
# Compile the Sequential model
nn.compile(loss="binary_crossentropy", optimizer='adam', metrics=['accuracy'])

In [24]:
# Fit the model using 50 epochs and the training data
fit_model = nn.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
804/804 [==============================] - 3s 3ms/step - loss: 2.2260 - accuracy: 0.4699
Epoch 2/50
804/804 [==============================] - 2s 2ms/step - loss: 1.3417 - accuracy: 0.5021
Epoch 3/50
804/804 [==============================] - 2s 2ms/step - loss: 1.0891 - accuracy: 0.4915
Epoch 4/50
804/804 [==============================] - 2s 2ms/step - loss: 0.8268 - accuracy: 0.5098
Epoch 5/50
804/804 [==============================] - 2s 2ms/step - loss: 0.8178 - accuracy: 0.5203
Epoch 6/50
804/804 [==============================] - 2s 2ms/step - loss: 0.8055 - accuracy: 0.5429
Epoch 7/50
804/804 [==============================] - 2s 2ms/step - loss: 0.8618 - accuracy: 0.5255
Epoch 8/50
804/804 [==============================] - 2s 2ms/step - loss: 0.8569 - accuracy: 0.4879
Epoch 9/50
804/804 [==============================] - 2s 3ms/step - loss: 0.7988 - accuracy: 0.4955
Epoch 10/50
804/804 [==============================] - 2s 2ms/step - loss: 0.7207 - accuracy: 0.4972
Epoch 11/50
804/804 [==============================] - 2s 2ms/step - loss: 0.7321 - accuracy: 0.4834
Epoch 12/50
804/804 [==============================] - 2s 2ms/step - loss: 0.7202 - accuracy: 0.4895
Epoch 13/50
804/804 [==============================] - 2s 2ms/step - loss: 0.7176 - accuracy: 0.4874
Epoch 14/50
804/804 [==============================] - 2s 3ms/step - loss: 0.7204 - accuracy: 0.4871
Epoch 15/50
804/804 [==============================] - 2s 2ms/step - loss: 0.7113 - accuracy: 0.5072
Epoch 16/50
804/804 [==============================] - 2s 2ms/step - loss: 0.7148 - accuracy: 0.4863
Epoch 17/50
804/804 [==============================] - 2s 3ms/step - loss: 0.7210 - accuracy: 0.4601
Epoch 18/50
804/804 [==============================] - 2s 2ms/step - loss: 0.7282 - accuracy: 0.4490
Epoch 19/50
804/804 [==============================] - 2s 2ms/step - loss: 0.7118 - accuracy: 0.4967
Epoch 20/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6886 - accuracy: 0.4898
Epoch 21/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6821 - accuracy: 0.4719
Epoch 22/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6813 - accuracy: 0.4736
Epoch 23/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6705 - accuracy: 0.4685
Epoch 24/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6690 - accuracy: 0.4746
Epoch 25/50
804/804 [==============================] - 2s 3ms/step - loss: 0.6679 - accuracy: 0.4725
Epoch 26/50
804/804 [==============================] - 2s 2ms/step - loss: 0.7062 - accuracy: 0.5067
Epoch 27/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6881 - accuracy: 0.5026
Epoch 28/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6713 - accuracy: 0.5044
Epoch 29/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6703 - accuracy: 0.4951
Epoch 30/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6780 - accuracy: 0.4866
Epoch 31/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6655 - accuracy: 0.4798
Epoch 32/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6610 - accuracy: 0.4983
Epoch 33/50
804/804 [==============================] - 2s 3ms/step - loss: 0.6589 - accuracy: 0.4935
Epoch 34/50
804/804 [==============================] - 2s 3ms/step - loss: 0.6564 - accuracy: 0.4910
Epoch 35/50
804/804 [==============================] - 2s 3ms/step - loss: 0.6559 - accuracy: 0.4931
Epoch 36/50
804/804 [==============================] - 2s 3ms/step - loss: 0.6561 - accuracy: 0.4955
Epoch 37/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6595 - accuracy: 0.4330
Epoch 38/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6676 - accuracy: 0.4365
Epoch 39/50
804/804 [==============================] - 2s 3ms/step - loss: 0.6666 - accuracy: 0.5195
Epoch 40/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6634 - accuracy: 0.4614
Epoch 41/50
804/804 [==============================] - 2s 3ms/step - loss: 0.6575 - accuracy: 0.5084
Epoch 42/50
804/804 [==============================] - 2s 3ms/step - loss: 0.6550 - accuracy: 0.5350
Epoch 43/50
804/804 [==============================] - 2s 3ms/step - loss: 0.6546 - accuracy: 0.5375
Epoch 44/50
804/804 [==============================] - 2s 3ms/step - loss: 0.6559 - accuracy: 0.4988
Epoch 45/50
804/804 [==============================] - 2s 3ms/step - loss: 0.6573 - accuracy: 0.4512
Epoch 46/50
804/804 [==============================] - 2s 3ms/step - loss: 0.6562 - accuracy: 0.4212
Epoch 47/50
804/804 [==============================] - 2s 3ms/step - loss: 0.6528 - accuracy: 0.4155
Epoch 48/50
804/804 [==============================] - 2s 3ms/step - loss: 0.6537 - accuracy: 0.4554
Epoch 49/50
804/804 [==============================] - 2s 3ms/step - loss: 0.6536 - accuracy: 0.4936
Epoch 50/50
804/804 [==============================] - 2s 3ms/step - loss: 0.6536 - accuracy: 0.5212

### Step 3: Evaluate the model using the test data to determine the model’s loss and accuracy.

In [25]:
# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.6708 - accuracy: 0.5193 - 542ms/epoch - 2ms/step
Loss: 0.6707723736763, Accuracy: 0.5193002820014954

### Step 4: Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`.

In [26]:
# Set the model's file path
file_path = Path('./Resources/AlphabetSoup.h5')

# Export your model to a HDF5 file
nn.save(file_path)

---

## Optimize the neural network model

### Step 1: Define at least three new deep neural network models (resulting in the original plus 3 optimization attempts). With each, try to improve on your first model’s predictive accuracy.

> **Rewind** Recall that perfect accuracy has a value of 1, so accuracy improves as its value moves closer to 1. To optimize your model for a predictive accuracy as close to 1 as possible, you can use any or all of the following techniques:
>
> * Adjust the input data by dropping different features columns to ensure that no variables or outliers confuse the model.
>
> * Add more neurons (nodes) to a hidden layer.
>
> * Add more hidden layers.
>
> * Use different activation functions for the hidden layers.
>
> * Add to or reduce the number of epochs in the training regimen.

### Alternative Model 1

In [27]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

39

In [28]:
# Define the number of neurons in the output layer
number_output_neurons_A1 = 2

In [29]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A1 = 16

# Review the number of hidden nodes in the first layer
hidden_nodes_layer1_A1

16

In [30]:
# Define the number of hidden nodes for the second hidden layer
hidden_nodes_layer2_A1 = 9

# Review the number of hidden nodes in the second layer
hidden_nodes_layer2_A1

9

In [31]:
# Define the number of hidden nodes for the second hidden layer
hidden_nodes_layer3_A1 = 3

# Review the number of hidden nodes in the second layer
hidden_nodes_layer3_A1

3

In [32]:
# Create the Sequential model instance
nn_A1 = Sequential()

In [33]:
# First hidden layer
nn_A1.add(Dense(units=hidden_nodes_layer1_A1, input_dim=number_input_features, activation='relu'))

# Second hidden layer
nn_A1.add(Dense(units=hidden_nodes_layer2_A1, activation='relu'))

# Third hidden layer
nn_A1.add(Dense(units=hidden_nodes_layer3_A1, activation='relu'))

# Output layer
nn_A1.add(Dense(units=number_output_neurons_A1, activation='relu'))


# Check the structure of the model
nn_A1.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_3 (Dense)             (None, 16)                640

 dense_4 (Dense)             (None, 9)                 153

 dense_5 (Dense)             (None, 3)                 30

 dense_6 (Dense)             (None, 2)                 8

=================================================================
Total params: 831
Trainable params: 831
Non-trainable params: 0
_________________________________________________________________

In [34]:
# Compile the Sequential model
nn_A1.compile(loss="binary_crossentropy", optimizer='adam', metrics=['accuracy'])

In [35]:
# Fit the model using 50 epochs and the training data
fit_model_A1 = nn_A1.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
804/804 [==============================] - 3s 3ms/step - loss: 2.2426 - accuracy: 0.4779
Epoch 2/50
804/804 [==============================] - 2s 3ms/step - loss: 0.6943 - accuracy: 0.4879
Epoch 3/50
804/804 [==============================] - 2s 3ms/step - loss: 0.6790 - accuracy: 0.5203
Epoch 4/50
804/804 [==============================] - 2s 3ms/step - loss: 0.6716 - accuracy: 0.4588
Epoch 5/50
804/804 [==============================] - 2s 3ms/step - loss: 0.6767 - accuracy: 0.4691
Epoch 6/50
804/804 [==============================] - 2s 3ms/step - loss: 0.6659 - accuracy: 0.4771
Epoch 7/50
804/804 [==============================] - 2s 3ms/step - loss: 0.6635 - accuracy: 0.4766
Epoch 8/50
804/804 [==============================] - 2s 3ms/step - loss: 0.6605 - accuracy: 0.4760
Epoch 9/50
804/804 [==============================] - 2s 3ms/step - loss: 0.6596 - accuracy: 0.4869
Epoch 10/50
804/804 [==============================] - 2s 3ms/step - loss: 0.6587 - accuracy: 0.4888
Epoch 11/50
804/804 [==============================] - 2s 3ms/step - loss: 0.6578 - accuracy: 0.4774
Epoch 12/50
804/804 [==============================] - 2s 3ms/step - loss: 0.6587 - accuracy: 0.5211
Epoch 13/50
804/804 [==============================] - 2s 3ms/step - loss: 0.6567 - accuracy: 0.4820
Epoch 14/50
804/804 [==============================] - 2s 3ms/step - loss: 0.6564 - accuracy: 0.5002
Epoch 15/50
804/804 [==============================] - 2s 3ms/step - loss: 0.6556 - accuracy: 0.5178
Epoch 16/50
804/804 [==============================] - 2s 3ms/step - loss: 0.6557 - accuracy: 0.5192
Epoch 17/50
804/804 [==============================] - 2s 3ms/step - loss: 0.6522 - accuracy: 0.4652
Epoch 18/50
804/804 [==============================] - 2s 3ms/step - loss: 0.6517 - accuracy: 0.4455
Epoch 19/50
804/804 [==============================] - 3s 3ms/step - loss: 0.6507 - accuracy: 0.4663
Epoch 20/50
804/804 [==============================] - 2s 3ms/step - loss: 0.6508 - accuracy: 0.5150
Epoch 21/50
804/804 [==============================] - 2s 3ms/step - loss: 0.6506 - accuracy: 0.5127
Epoch 22/50
804/804 [==============================] - 2s 3ms/step - loss: 0.6513 - accuracy: 0.4703
Epoch 23/50
804/804 [==============================] - 2s 3ms/step - loss: 0.6497 - accuracy: 0.4362
Epoch 24/50
804/804 [==============================] - 2s 3ms/step - loss: 0.6503 - accuracy: 0.4446
Epoch 25/50
804/804 [==============================] - 2s 3ms/step - loss: 0.6489 - accuracy: 0.4890
Epoch 26/50
804/804 [==============================] - 3s 3ms/step - loss: 0.6497 - accuracy: 0.4875
Epoch 27/50
804/804 [==============================] - 2s 3ms/step - loss: 0.6480 - accuracy: 0.5325
Epoch 28/50
804/804 [==============================] - 2s 3ms/step - loss: 0.6471 - accuracy: 0.5238
Epoch 29/50
804/804 [==============================] - 3s 3ms/step - loss: 0.6475 - accuracy: 0.5143
Epoch 30/50
804/804 [==============================] - 3s 3ms/step - loss: 0.6465 - accuracy: 0.5290
Epoch 31/50
804/804 [==============================] - 3s 3ms/step - loss: 0.6469 - accuracy: 0.5461
Epoch 32/50
804/804 [==============================] - 3s 3ms/step - loss: 0.6462 - accuracy: 0.4951
Epoch 33/50
804/804 [==============================] - 3s 3ms/step - loss: 0.6460 - accuracy: 0.5282
Epoch 34/50
804/804 [==============================] - 2s 3ms/step - loss: 0.6493 - accuracy: 0.5058
Epoch 35/50
804/804 [==============================] - 2s 3ms/step - loss: 0.6465 - accuracy: 0.5196
Epoch 36/50
804/804 [==============================] - 2s 3ms/step - loss: 0.6465 - accuracy: 0.5070
Epoch 37/50
804/804 [==============================] - 2s 3ms/step - loss: 0.6476 - accuracy: 0.4985
Epoch 38/50
804/804 [==============================] - 2s 3ms/step - loss: 0.6469 - accuracy: 0.4330
Epoch 39/50
804/804 [==============================] - 2s 3ms/step - loss: 0.6466 - accuracy: 0.4255
Epoch 40/50
804/804 [==============================] - 2s 3ms/step - loss: 0.6465 - accuracy: 0.4583
Epoch 41/50
804/804 [==============================] - 2s 3ms/step - loss: 0.6458 - accuracy: 0.4974
Epoch 42/50
804/804 [==============================] - 2s 3ms/step - loss: 0.6470 - accuracy: 0.5072
Epoch 43/50
804/804 [==============================] - 2s 3ms/step - loss: 0.6468 - accuracy: 0.5230
Epoch 44/50
804/804 [==============================] - 2s 3ms/step - loss: 0.6460 - accuracy: 0.5304
Epoch 45/50
804/804 [==============================] - 2s 3ms/step - loss: 0.6496 - accuracy: 0.5026
Epoch 46/50
804/804 [==============================] - 3s 3ms/step - loss: 0.6489 - accuracy: 0.4328
Epoch 47/50
804/804 [==============================] - 3s 3ms/step - loss: 0.6476 - accuracy: 0.4579
Epoch 48/50
804/804 [==============================] - 2s 3ms/step - loss: 0.6465 - accuracy: 0.4518
Epoch 49/50
804/804 [==============================] - 2s 3ms/step - loss: 0.6460 - accuracy: 0.4675
Epoch 50/50
804/804 [==============================] - 2s 3ms/step - loss: 0.6459 - accuracy: 0.4889

#### Alternative Model 2

In [36]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

39

In [37]:
# Define the number of neurons in the output layer
number_output_neurons_A2 = 2

In [38]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A2 = 12

# Review the number of hidden nodes in the first layer
hidden_nodes_layer1_A2

12

In [39]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer2_A2 = 7

# Review the number of hidden nodes in the first layer
hidden_nodes_layer2_A2

7

In [40]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer3_A2 = 4

# Review the number of hidden nodes in the first layer
hidden_nodes_layer3_A2

4

In [41]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer4_A2 = 3

# Review the number of hidden nodes in the first layer
hidden_nodes_layer4_A2

3

In [42]:
# Create the Sequential model instance
nn_A2 = Sequential()

In [43]:
# First hidden layer
nn_A2.add(Dense(units=hidden_nodes_layer1_A2, input_dim=number_input_features, activation='relu'))

# Second hidden layer
nn_A2.add(Dense(units=hidden_nodes_layer2_A2, activation='relu'))

# Third hidden layer
nn_A2.add(Dense(units=hidden_nodes_layer3_A2, activation='relu'))

# Fourth hidden layer
nn_A2.add(Dense(units=hidden_nodes_layer4_A2, activation='relu'))

# Output layer
nn_A2.add(Dense(units=number_output_neurons_A2, activation='relu'))


# Check the structure of the model
nn_A2.summary()

Model: "sequential_2"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_7 (Dense)             (None, 12)                480

 dense_8 (Dense)             (None, 7)                 91

 dense_9 (Dense)             (None, 4)                 32

 dense_10 (Dense)            (None, 3)                 15

 dense_11 (Dense)            (None, 2)                 8

=================================================================
Total params: 626
Trainable params: 626
Non-trainable params: 0
_________________________________________________________________

In [44]:
# Compile the model
nn_A2.compile(loss="binary_crossentropy", optimizer='adam', metrics=['accuracy'])

In [45]:
# Fit the model
fit_model_A2 = nn_A2.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
804/804 [==============================] - 3s 3ms/step - loss: 5.5340 - accuracy: 0.5157
Epoch 2/50
804/804 [==============================] - 3s 3ms/step - loss: 4.4562 - accuracy: 0.5347
Epoch 3/50
804/804 [==============================] - 3s 3ms/step - loss: 4.4508 - accuracy: 0.5347
Epoch 4/50
804/804 [==============================] - 2s 3ms/step - loss: 4.4498 - accuracy: 0.5347
Epoch 5/50
804/804 [==============================] - 2s 3ms/step - loss: 4.4485 - accuracy: 0.5347
Epoch 6/50
804/804 [==============================] - 2s 3ms/step - loss: 4.4499 - accuracy: 0.5347
Epoch 7/50
804/804 [==============================] - 2s 3ms/step - loss: 4.4491 - accuracy: 0.5347
Epoch 8/50
804/804 [==============================] - 2s 3ms/step - loss: 4.4485 - accuracy: 0.5347
Epoch 9/50
804/804 [==============================] - 3s 3ms/step - loss: 4.4493 - accuracy: 0.5346
Epoch 10/50
804/804 [==============================] - 2s 3ms/step - loss: 4.4463 - accuracy: 0.5347
Epoch 11/50
804/804 [==============================] - 2s 3ms/step - loss: 4.4458 - accuracy: 0.5347
Epoch 12/50
804/804 [==============================] - 2s 3ms/step - loss: 4.4456 - accuracy: 0.5347
Epoch 13/50
804/804 [==============================] - 2s 3ms/step - loss: 4.4458 - accuracy: 0.5347
Epoch 14/50
804/804 [==============================] - 2s 3ms/step - loss: 4.4452 - accuracy: 0.5347
Epoch 15/50
804/804 [==============================] - 3s 3ms/step - loss: 4.4455 - accuracy: 0.5347
Epoch 16/50
804/804 [==============================] - 2s 3ms/step - loss: 4.4443 - accuracy: 0.5347
Epoch 17/50
804/804 [==============================] - 2s 3ms/step - loss: 4.4441 - accuracy: 0.5347
Epoch 18/50
804/804 [==============================] - 2s 3ms/step - loss: 4.4438 - accuracy: 0.5347
Epoch 19/50
804/804 [==============================] - 2s 3ms/step - loss: 4.4434 - accuracy: 0.5347
Epoch 20/50
804/804 [==============================] - 2s 3ms/step - loss: 4.4436 - accuracy: 0.5347
Epoch 21/50
804/804 [==============================] - 2s 3ms/step - loss: 4.4435 - accuracy: 0.5347
Epoch 22/50
804/804 [==============================] - 3s 3ms/step - loss: 4.4440 - accuracy: 0.5347
Epoch 23/50
804/804 [==============================] - 2s 3ms/step - loss: 4.4437 - accuracy: 0.5347
Epoch 24/50
804/804 [==============================] - 2s 3ms/step - loss: 4.4435 - accuracy: 0.5347
Epoch 25/50
804/804 [==============================] - 2s 3ms/step - loss: 4.4433 - accuracy: 0.5347
Epoch 26/50
804/804 [==============================] - 2s 3ms/step - loss: 4.4434 - accuracy: 0.5347
Epoch 27/50
804/804 [==============================] - 2s 3ms/step - loss: 4.4431 - accuracy: 0.5347
Epoch 28/50
804/804 [==============================] - 3s 3ms/step - loss: 4.4435 - accuracy: 0.5347
Epoch 29/50
804/804 [==============================] - 3s 3ms/step - loss: 4.4431 - accuracy: 0.5347
Epoch 30/50
804/804 [==============================] - 2s 3ms/step - loss: 4.4432 - accuracy: 0.5347
Epoch 31/50
804/804 [==============================] - 2s 3ms/step - loss: 4.4432 - accuracy: 0.5347
Epoch 32/50
804/804 [==============================] - 2s 3ms/step - loss: 4.4428 - accuracy: 0.5347
Epoch 33/50
804/804 [==============================] - 2s 3ms/step - loss: 4.4432 - accuracy: 0.5347
Epoch 34/50
804/804 [==============================] - 2s 3ms/step - loss: 4.4429 - accuracy: 0.5347
Epoch 35/50
804/804 [==============================] - 3s 3ms/step - loss: 4.4448 - accuracy: 0.5347
Epoch 36/50
804/804 [==============================] - 3s 3ms/step - loss: 4.4448 - accuracy: 0.5347
Epoch 37/50
804/804 [==============================] - 2s 3ms/step - loss: 4.4452 - accuracy: 0.5347
Epoch 38/50
804/804 [==============================] - 2s 3ms/step - loss: 4.4445 - accuracy: 0.5347
Epoch 39/50
804/804 [==============================] - 2s 3ms/step - loss: 4.4445 - accuracy: 0.5347
Epoch 40/50
804/804 [==============================] - 2s 3ms/step - loss: 4.4455 - accuracy: 0.5344
Epoch 41/50
804/804 [==============================] - 2s 3ms/step - loss: 4.4467 - accuracy: 0.5345
Epoch 42/50
804/804 [==============================] - 3s 3ms/step - loss: 4.4427 - accuracy: 0.5347
Epoch 43/50
804/804 [==============================] - 2s 3ms/step - loss: 4.4427 - accuracy: 0.5347
Epoch 44/50
804/804 [==============================] - 2s 3ms/step - loss: 4.4427 - accuracy: 0.5347
Epoch 45/50
804/804 [==============================] - 2s 3ms/step - loss: 4.4425 - accuracy: 0.5347
Epoch 46/50
804/804 [==============================] - 2s 3ms/step - loss: 4.4427 - accuracy: 0.5347
Epoch 47/50
804/804 [==============================] - 2s 3ms/step - loss: 4.4426 - accuracy: 0.5347
Epoch 48/50
804/804 [==============================] - 3s 3ms/step - loss: 4.4423 - accuracy: 0.5347
Epoch 49/50
804/804 [==============================] - 3s 3ms/step - loss: 4.4422 - accuracy: 0.5347
Epoch 50/50
804/804 [==============================] - 3s 3ms/step - loss: 4.4428 - accuracy: 0.5347

#### Alternative Model 3

In [51]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

39

In [52]:
# Define the number of neurons in the output layer
number_output_neurons_A3 = 2

In [53]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A3 = 28

# Review the number of hidden nodes in the first layer
hidden_nodes_layer1_A3

28

In [54]:
# Create the Sequential model instance
nn_A3 = Sequential()

In [55]:
# First hidden layer
nn_A3.add(Dense(units=hidden_nodes_layer1_A3, input_dim=number_input_features, activation='relu'))

# Output layer
nn_A3.add(Dense(units=number_output_neurons_A3, activation='relu'))


# Check the structure of the model
nn_A3.summary()

Model: "sequential_3"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_12 (Dense)            (None, 28)                1120

 dense_13 (Dense)            (None, 2)                 58

=================================================================
Total params: 1,178
Trainable params: 1,178
Non-trainable params: 0
_________________________________________________________________

In [56]:
# Compile the model
nn_A3.compile(loss="binary_crossentropy", optimizer='adam', metrics=['accuracy'])

In [57]:
# Fit the model
fit_model_A3 = nn_A3.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
804/804 [==============================] - 2s 2ms/step - loss: 3.7847 - accuracy: 0.5606
Epoch 2/50
804/804 [==============================] - 2s 2ms/step - loss: 3.3381 - accuracy: 0.5661
Epoch 3/50
804/804 [==============================] - 2s 2ms/step - loss: 1.6840 - accuracy: 0.5709
Epoch 4/50
804/804 [==============================] - 2s 2ms/step - loss: 1.4477 - accuracy: 0.5783
Epoch 5/50
804/804 [==============================] - 2s 2ms/step - loss: 1.4793 - accuracy: 0.5635
Epoch 6/50
804/804 [==============================] - 2s 2ms/step - loss: 1.4252 - accuracy: 0.5362
Epoch 7/50
804/804 [==============================] - 2s 2ms/step - loss: 1.2219 - accuracy: 0.5136
Epoch 8/50
804/804 [==============================] - 2s 2ms/step - loss: 1.1255 - accuracy: 0.5184
Epoch 9/50
804/804 [==============================] - 2s 2ms/step - loss: 0.9619 - accuracy: 0.5327
Epoch 10/50
804/804 [==============================] - 2s 2ms/step - loss: 0.9504 - accuracy: 0.5290
Epoch 11/50
804/804 [==============================] - 2s 2ms/step - loss: 0.9448 - accuracy: 0.5155
Epoch 12/50
804/804 [==============================] - 2s 2ms/step - loss: 0.9591 - accuracy: 0.5240
Epoch 13/50
804/804 [==============================] - 2s 2ms/step - loss: 0.9488 - accuracy: 0.5057
Epoch 14/50
804/804 [==============================] - 2s 2ms/step - loss: 1.0090 - accuracy: 0.4923
Epoch 15/50
804/804 [==============================] - 2s 2ms/step - loss: 0.9782 - accuracy: 0.5056
Epoch 16/50
804/804 [==============================] - 2s 2ms/step - loss: 0.9626 - accuracy: 0.4912
Epoch 17/50
804/804 [==============================] - 2s 2ms/step - loss: 0.9251 - accuracy: 0.4716
Epoch 18/50
804/804 [==============================] - 2s 2ms/step - loss: 0.8702 - accuracy: 0.4731
Epoch 19/50
804/804 [==============================] - 2s 2ms/step - loss: 0.8732 - accuracy: 0.4747
Epoch 20/50
804/804 [==============================] - 2s 2ms/step - loss: 0.8884 - accuracy: 0.4635
Epoch 21/50
804/804 [==============================] - 2s 2ms/step - loss: 0.8547 - accuracy: 0.4833
Epoch 22/50
804/804 [==============================] - 2s 2ms/step - loss: 0.8062 - accuracy: 0.4955
Epoch 23/50
804/804 [==============================] - 2s 2ms/step - loss: 0.8088 - accuracy: 0.5073
Epoch 24/50
804/804 [==============================] - 2s 2ms/step - loss: 0.7971 - accuracy: 0.4914
Epoch 25/50
804/804 [==============================] - 2s 2ms/step - loss: 0.7886 - accuracy: 0.4849
Epoch 26/50
804/804 [==============================] - 2s 2ms/step - loss: 0.8037 - accuracy: 0.5152
Epoch 27/50
804/804 [==============================] - 2s 2ms/step - loss: 0.8010 - accuracy: 0.4646
Epoch 28/50
804/804 [==============================] - 2s 2ms/step - loss: 0.7775 - accuracy: 0.4861
Epoch 29/50
804/804 [==============================] - 2s 2ms/step - loss: 0.7624 - accuracy: 0.4889
Epoch 30/50
804/804 [==============================] - 2s 2ms/step - loss: 0.7506 - accuracy: 0.4901
Epoch 31/50
804/804 [==============================] - 2s 2ms/step - loss: 0.7784 - accuracy: 0.4971
Epoch 32/50
804/804 [==============================] - 2s 2ms/step - loss: 0.8167 - accuracy: 0.4874
Epoch 33/50
804/804 [==============================] - 2s 2ms/step - loss: 0.7794 - accuracy: 0.4798
Epoch 34/50
804/804 [==============================] - 2s 2ms/step - loss: 0.7694 - accuracy: 0.4908
Epoch 35/50
804/804 [==============================] - 2s 3ms/step - loss: 0.7884 - accuracy: 0.4792
Epoch 36/50
804/804 [==============================] - 2s 2ms/step - loss: 0.7826 - accuracy: 0.5033
Epoch 37/50
804/804 [==============================] - 2s 2ms/step - loss: 0.7853 - accuracy: 0.4842
Epoch 38/50
804/804 [==============================] - 2s 2ms/step - loss: 0.7472 - accuracy: 0.4888
Epoch 39/50
804/804 [==============================] - 2s 2ms/step - loss: 0.7462 - accuracy: 0.5075
Epoch 40/50
804/804 [==============================] - 2s 2ms/step - loss: 0.7541 - accuracy: 0.5082
Epoch 41/50
804/804 [==============================] - 2s 2ms/step - loss: 0.7426 - accuracy: 0.4762
Epoch 42/50
804/804 [==============================] - 2s 2ms/step - loss: 0.7421 - accuracy: 0.4784
Epoch 43/50
804/804 [==============================] - 2s 2ms/step - loss: 0.7376 - accuracy: 0.4784
Epoch 44/50
804/804 [==============================] - 2s 2ms/step - loss: 0.7253 - accuracy: 0.4934
Epoch 45/50
804/804 [==============================] - 2s 2ms/step - loss: 0.7139 - accuracy: 0.4838
Epoch 46/50
804/804 [==============================] - 2s 2ms/step - loss: 0.7116 - accuracy: 0.4810
Epoch 47/50
804/804 [==============================] - 2s 3ms/step - loss: 0.7126 - accuracy: 0.5062
Epoch 48/50
804/804 [==============================] - 2s 2ms/step - loss: 0.7175 - accuracy: 0.5123
Epoch 49/50
804/804 [==============================] - 2s 2ms/step - loss: 0.7156 - accuracy: 0.4869
Epoch 50/50
804/804 [==============================] - 2s 2ms/step - loss: 0.7208 - accuracy: 0.4655

### Step 2: After finishing your models, display the accuracy scores achieved by each model, and compare the results.

In [46]:
print("Original Model Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Original Model Results
268/268 - 0s - loss: 0.6708 - accuracy: 0.5193 - 429ms/epoch - 2ms/step
Loss: 0.6707723736763, Accuracy: 0.5193002820014954

In [47]:
print("Alternative Model 1 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_A1.evaluate(X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Alternative Model 1 Results
268/268 - 1s - loss: 0.6658 - accuracy: 0.3801 - 623ms/epoch - 2ms/step
Loss: 0.6657599806785583, Accuracy: 0.38005831837654114

In [48]:
print("Alternative Model 2 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_A2.evaluate(X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Alternative Model 2 Results
268/268 - 1s - loss: 4.3805 - accuracy: 0.5256 - 524ms/epoch - 2ms/step
Loss: 4.38046932220459, Accuracy: 0.5255976915359497

In [58]:
print("Alternative Model 3 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_A3.evaluate(X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Alternative Model 3 Results
268/268 - 0s - loss: 0.7375 - accuracy: 0.5271 - 476ms/epoch - 2ms/step
Loss: 0.7375377416610718, Accuracy: 0.527113676071167

### Step 3: Save each of your alternative models as an HDF5 file.

In [59]:
# Set the file path for the first alternative model
file_path = Path('./Resources/AlphabetSoup_A1.h5')

# Export your model to a HDF5 file
nn_A1.save(file_path)

In [60]:
# Set the file path for the second alternative model
file_path = Path('./Resources/AlphabetSoup_A2.h5')

# Export your model to a HDF5 file
nn_A2.save(file_path)

In [61]:
# Set the file path for the second alternative model
file_path = Path('./Resources/AlphabetSoup_A3.h5')

# Export your model to a HDF5 file
nn_A3.save(file_path)